QPlainTextEdit, QTextEdit { background-color: #fbfad7;
        color: #000000 ;                                    /* dsw */
        selection-background-color: #cc0}
.error { color: red; }
.in-prompt { color: darkgreen; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: darkred; }
.out-prompt-number { font-weight: bold; }
.inverted { background-color: black ; color: white; }
