QPlainTextEdit, QTextEdit { background-color: black;
        color: #fff ;
        selection-background-color: #cc0}
.error { color: red; }
.in-prompt { color: #ee8; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: darkred; }
.out-prompt-number { font-weight: bold; }
.inverted { background-color: black ; color: white; }
